@use 'partials/vars';
@use 'partials/frontpage';
@use 'partials/sleep_patterns';
@use 'partials/history-svg';
@use 'partials/household';
@use 'partials/archi';

:export {
  $bg-color: #e2d7c4;
  $stroke-color: #333a4d;
  $headline-color: #3a8990;
  $body-text: #333a4d;
}

html,
body {
  overflow: hidden;
}
.wrapper-horizontal {
  display: grid;
  grid-template-columns: 100vw 100vw 100vw;
  grid-template-rows: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.wrapper-vertical {
  display: grid;
  grid-column-start: 2;
  grid-template-rows: 100vh 100vh 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}

// .pages {
//   scroll-behavior: smooth;
// }
#frontpage {
  grid-row-start: 2;
  scroll-snap-align: start;
  z-index: 0;
}

#page1 {
  grid-column-start: 1;
  height: 100vh;
  grid-row-start: 1;
  scroll-snap-align: start;
  z-index: 500;
}

#page2 {
  grid-column-start: 3;
  grid-row-start: 1;
  scroll-snap-align: start;
  z-index: 500;
}

#page3 {
  grid-row-start: 1;
  grid-row-start: 1;
  scroll-snap-align: start;
  z-index: 500;
}

#page4 {
  scroll-snap-align: start;
  z-index: 500;
}

// #arrows {
//   height: 100vh;
//   width: 100vw;
//   position: relative;
//   top: 0;
//   left: 0;
// }

#arrows {
  height: 100%;
}
.arrow {
  // display: grid;
  width: 3vw;
  // height: 3.62vw;
  background-size: contain;
  margin: 0;
  padding: 0;
  position: absolute;
}

#arrowsContainer {
  width: 90vw;
  position: absolute;
  top: 0;
  left: 0;
}

#arrow1 {
  margin: 0 auto;
  left: 50vw - 2.5vw;
  top: 2vh;
}

#arrow2 {
  top: 50vh;
  left: 100vw - 7vw;
  // transform: translateX(100vw - 7vw) translateY(50vh) rotate(90deg);
  transform: rotate(90deg);
}

#arrow3 {
  left: 50vw - 2.5vw;
  top: 95vh;
  transform: rotate(180deg);
  // transform: translateX(50vw) translateY(90vh) rotate(180deg);
  margin: 0 auto;
}
#arrow4 {
  top: 50vh;
  left: 2vw;
  // transform: translateY(50vh) rotate(-90deg);
  transform: rotate(-90deg);
}

// #arrow2 {
//   position: absolute;
//   // transform: translateX(100%) translateY(50vw) scale(0.3) rotate(90deg);
//   // transform-origin: top left;
//   top: 50%;
// }

// #arrow3 {
//   transform: translateX(50%) translateY(100%) scale(0.3) rotate(180deg);
// }

// #arrowWrapper {
//   display: flex;
// }
