* {
  margin: 0;
  padding: 0;
}

:root {
  --turn-on: transparent;
}

.hide {
  display: none;
}

.light {
  --turn-on: rgb(255, 255, 0);
}

#page4_background {
  width: 90vw;
  display: flex;
  justify-content: center;
  position: relative;
}

#page4 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2d7c4;
  position: relative;
}

#page4_background svg {
  align-self: center;
  height: 100vh;
  max-width: 100vw;
  border: none;
  stroke: none;
}

#archi-lightbulb {
  width: 50vw;
  position: absolute;
  z-index: 2000;
  left: 200px;
  top: 100px;
}

#lightbulb_svg_container {
  width: 15vw;
}

#archi-popup {
  width: 400px;
  background-color: #333a4d;
  color: #e2d7c4;
  border-radius: 30px;
  z-index: 1000;
  padding: 50px;
  position: absolute;
  left: 100px;
  top: 200px;
}
