@font-face {
  font-family: "Josefin Sans";
  src: url("fonts/JosefinSans-Regular.ttf"),
    url("fonts/JosefinSans-Regular.woff"),
    url("fonts/JosefinSans-Regular.woff2"), url("fonts/JosefinSans-Regular.eot"),
    url("fonts/JosefinSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/JosefinSans-Regular.ttf") format("truetype"),
    url("fonts/JosefinSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf"), url("fonts/Lato-Regular.woff"),
    url("fonts/Lato-Regular.woff2"), url("fonts/Lato-Regular.eot"),
    url("fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Lato-Regular.ttf") format("truetype"),
    url("fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
