@font-face {
  font-family: "Josefin Sans";
  src: url("fonts/JosefinSans-Regular.ttf"),
    url("fonts/JosefinSans-Regular.woff"),
    url("fonts/JosefinSans-Regular.woff2");
}
@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf"), url("fonts/Lato-Regular.woff"),
    url("fonts/Lato-Regular.woff2");
}
