@use 'partials/vars';

:root {
  --turn-on: transparent;
}
html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}
#popup,
#lightbulb,
#globalSVG,
#template-arrow {
  visibility: hidden;
  width: 0;
  height: 0;
}

#frontpage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: vars.$bg-color;
}
#mainlightBulb {
  height: 30vh;
  margin: 0 auto;
}

// #arrows {
//   height: 100vh;
//   width: 100vw;
//   position: relative;
//   top: 0;
//   left: 0;
// }

#arrows {
  height: 100%;
}
.arrow {
  // display: grid;
  width: 5vw;
  // height: 3.62vw;
  background-size: contain;
  margin: 0;
  padding: 0;
  position: absolute;
}

#arrowsContainer {
  width: 90vw;

  position: absolute;
  top: 0;
  left: 0;
}

#arrow1 {
  margin: 0 auto;
  left: 50vw - 2.5vw;
  top: 2vh;
}

#arrow2 {
  top: 50vh;
  left: 100vw - 7vw;
  // transform: translateX(100vw - 7vw) translateY(50vh) rotate(90deg);
  transform: rotate(90deg);
}

#arrow3 {
  left: 50vw - 2.5vw;
  top: 95vh;
  transform: rotate(180deg);
  // transform: translateX(50vw) translateY(90vh) rotate(180deg);
  margin: 0 auto;
}
#arrow4 {
  top: 50vh;
  // transform: translateY(50vh) rotate(-90deg);
  transform: rotate(-90deg);
}

// #arrow2 {
//   position: absolute;
//   // transform: translateX(100%) translateY(50vw) scale(0.3) rotate(90deg);
//   // transform-origin: top left;
//   top: 50%;
// }

// #arrow3 {
//   transform: translateX(50%) translateY(100%) scale(0.3) rotate(180deg);
// }

// #arrowWrapper {
//   display: flex;
// }
