#lightbulb,
#popup,
#edison-hide,
#demon-hide,
#firstlight-hide {
  visibility: hidden;
  width: 0;
  height: 0;
}
#globalLightBulb > .lightbulb-cls2 {
  cursor: pointer;
}
.clone {
  --turn-on: #f2d94a;
}
.theText {
  transform: translate(88.6 111.65);
  width: 10vw;
  display: inline-block;
  letter-spacing: 0.01em;
  fill: #e2d7c4;
}
.hide {
  display: none;
}
#page1 {
  background-color: #e2d7c4;
}
#history-svg-bg > use:nth-child(5),
#history-svg-bg > use:nth-child(7),
#history-svg-bg > use:nth-child(9),
#history-svg-bg > use:nth-child(11) {
  fill: none;
}

#edison_1_,
#edison_1_:link,
#edison_1_:visited {
  fill: inherit;
}
