* {
  margin: 0;
  padding: 0;
}

:root {
  --turn-on: transparent;
}

body {
  overscroll-behavior: none;
}

.hide {
  display: none;
}

.light {
  --turn-on: #f2d94a;
}

.open {
  animation: open 2s infinite ease;
}

@keyframes open {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

#page3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2d7c4;
  position: relative;
}

#page3_background {
  width: 90vw;
  display: flex;
  justify-content: center;
  position: relative;
}

#page3_background svg {
  align-self: center;
  height: 100vh;
  max-width: 100vw;
  border: none;
  stroke: none;
}

#household_lightbulbs {
  position: relative;
  // width: 100vw;
  height: 100vh;
}

.hh_lightbulb {
  width: 100px;
}

#hh_container1 {
  position: absolute;
  left: 40vw;
  top: 5vh;
  z-index: 2000;
}

#hh_container2 {
  position: absolute;
  left: 15vw;
  top: 50vh;
  z-index: 2000;
}

#hh_container3 {
  position: absolute;
  left: 68vw;
  top: 40vh;
  z-index: 2000;
}

#hh_popups {
  position: relative;
  height: 100vh;
}

.hh_popup {
  width: 250px;
  background-color: #333a4d;
  color: #e2d7c4;
  border-radius: 30px;
  z-index: 1000;
  padding: 20px;
  position: absolute;
}

#hh_popup1 {
  position: absolute;
  top: 13vh;
  left: 40vw;
}
#hh_popup2 {
  position: absolute;
  top: 18vh;
  left: 10vw;
}
#hh_popup3 {
  position: absolute;
  top: 11vh;
  left: 55vw;
}
