$bg-color: #e2d7c4;
$stroke-color: #333a4d;
$headline-color: #3a8990;
$body-text: #333a4d;
$title: "Josefin Sans", sans-serif;
$p-text: "Lato", sans-serif;

h1 {
  font-family: $title;
  font-weight: bold;
  color: $headline-color;
}

p {
  font-family: $p-text;
}

