$bg-color: #e2d7c4;
$stroke-color: #333a4d;
$headline-color: #3a8990;
$body-text: #333a4d;
// $title: "Josefin Sans";
// $p-text: "Lato";

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: $headline-color;
}

p {
  font-family: "Lato", sans-serif;
}
